@font-face {
	font-family: Whyte;
	src: url("../assets/font/ABCWhyteInktrapEduWeb/ABCWhyteInktrapEdu-Regular.woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Whyte;
	src: url("../assets/font/ABCWhyteInktrapEduWeb/ABCWhyteInktrapEdu-Regular.woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Whyte;
	src: url("../assets/font/ABCWhyteInktrapEduWeb/ABCWhyteInktrapEdu-Regular.woff2");
	font-weight: 500;
	font-style: normal;
}