html {
	font-size: var(--font-size-base);
}

body {
	font-family: var(--font-family-primary);
	color: var(--color-foreground);
	background: var(--color-background);
}

@media screen and (min-width: 1920px) {
	body {
		max-width: 1920px;
		margin: 0 auto;
	}
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8rem;
	width: 100%;
	background-image: url('../assets/background-image23.jpeg');
}

.header-section__title {
	padding-top: var(--spacing-medium);
	margin-bottom: var(--spacing-medium);
	text-align: center;
	font-size: var(--font-size-large);
}

.header-section__intro-info {
	padding-top: var(--spacing-medium);
	margin-bottom: var(--spacing-medium);
	font-size: var(--font-size-base);
}

.header-section__intro-buttons {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding-top: var(--spacing-medium);
	gap: var(--spacing-small);
}

.header-section__intro-buttons {
	padding-top: 0.25rem;
}

button {
	padding: 0.25rem;
	background-image: url('../assets/background-image23.jpeg');
	border-radius: var(--spacing-small);
	font-size: var(--font-size-small-medium);
}

button:hover {
	font-style: italic;
}

.page-section__page-title {
	margin-top: var(--spacing-xsmall);
	font-size: var(--font-size-small-medium);
}

.page-section__page-title-small {
	margin-bottom: var(--spacing-small);
	font-size: var(--font-size-small);
}

.hover-effect {
	transition: transform .1s;
}
.hover-effect:hover {
	transform:skewX(-1.5deg);
}